.front
	.front-container
		.front-logo-horizontal
			.front-logo-vertical
				= image_tag "frontend/keppler-front.png", class: "front-logo img-responsive"
				.front-logo-horizontal
					%h1 Página en Construcción
				.front-logo-horizontal
					.row.front-social
						.col-lg-6.col-md-6.col-sm-6.col-xs-6
							%center
								= link_to "https://www.facebook.com/ParraSalas.consultores", target:"_blank" do
									= image_tag "frontend/Assest_Facebook.png"
						.col-lg-6.col-md-6.col-sm-6.col-xs-6
							%center
								= link_to "https://www.instagram.com/ParraSalas.consultores/", target:"_blank" do
									= image_tag "frontend/Assest_Instagram.png"
				.front-logo-horizontal
					.front-footer
						%center
							%span +58 412-6630910 / +58 414-9634598
							%br
							%span Info@parrasalas.com